@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

@font-face {
    font-family: "byonicons";
    src: url(fonts/Byom-Icons-Trial.ttf);
  }

  @font-face {
    font-family: "byonicons";
    src: url(fonts/B);
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
}


a {
    text-decoration: none;
    color:inherit;
}

img {
    height: 100%;
}

body {
    background-color: black;
    color: white;
}

